body{
    background-color: lightgrey;
    position: relative;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-weight: bold;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-size: 2em;
    text-align: center;
}

p{
    font-size: 16px;
    line-height: 1.8em;
    padding-left: 1.3em;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    width: 100%;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: -50px
}

.img-thumbnail{
    margin: 1%;
    width: 48%;
    float: left;
    padding: initial;
}

.img-comparison{
    margin: 1%;
    width: 95%;
    padding: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column{
    padding: 3%;
    background-color: white;
}

.summary-img{
    position: relative;
    width: 40%;
}

.summary-column{
    position: relative;
    width: 60%;
    float: right;
}

.plot-img{
    position: relative;
    width: 90%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plot-column{
    position: relative;
    width: 100%;
    padding: 2%;
}

.img-responsive {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comparison-box{
    background-color: white;
    margin: 1%;
    padding: 3%;
    max-width: 98%;
}

#select{
    border-color: darkblue;
    border-width: 2px;
    margin-bottom: auto;
}

#select2{
    border-color: darkblue;
    border-width: 2px;
}

#foot{
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
    width: 100%;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 1rem;
}

.push{
    height: 50px;
}

@media (max-width: 480px) {

    .column{
        padding: 3%;
        background-color: white;
        margin: 1%;
    }

    .img-thumbnail{
        margin: 5%;
        width: 90%;
    }

    #navbar-title{
        padding-left: 0px;
    }

    .summary-img{
        position: relative;
        width: 90%;
        margin:3%;
    }
    
    .summary-column{
        position: relative;
        width: auto;
        margin: 3%;
    }

    #foot{
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        width: 100%;
        background-color: #e7e7e7;
        text-align: center;
        padding-top: 1rem;
        margin-bottom: -50px;
    }
  }